{% extends '../index.html'%}
{% load static %}

{% block content %}
{% if posts %}
<div class="row">
<div class="col-md-8">
{% for post in posts %}
<div class="card m-3 border-warning">
    <!-- <img src="{% static 'images/img.jpeg'%}" class="card-img-top" alt="image" style="height: 200px; margin: 5px auto;"> -->
    <div class="card-body">
      <h5 class="card-title">{{post.title}} </h5>
      <p class="small fw-lighter">By {{post.author}} </p>
      <hr>
      <a href="{% url 'post_detail' post.id%}" class="btn btn-outline-primary">Recite Poem</a>
    </div>
  </div>
{% endfor %}
</div>
{% block sidebar %} {% include './sidebar.html' %} {% endblock sidebar %}

{% else %}
<h3>Posts not available</h3>
{% endif %}
{% endblock %}