{% extends '../index.html'%}
{% load static %}

{% block content %}
{% if posts %}
{% for post in posts %}
<div class="card col-md-8 mx-md-5 my-md-2 m-2 border-warning">
    <!-- <img src="{% static 'images/img.jpeg'%}" class="card-img-top" alt="image" style="height: 200px; margin: 5px auto;"> -->
    <div class="card-body">
      <h5 class="card-title">{{post.title}} </h5>
      <p class="small fst-italic">By {{post.author}} </p>
      <hr>
      <p class="card-text">{{post.post | safe}}</p>
      <a href="{% url 'post_detail' post.id%}" class="btn btn-primary">Read More</a>
    </div>
  </div>
{% endfor %}

{% else %}
<h3>Posts not available</h3>
{% endif %}
{% endblock %}