{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
<div class="card m-3 border-warning">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> At 100Pages, we believe in the power of poetry to transcend boundaries, to evoke empathy, and to connect souls. Our vision is to create a space where poets, both seasoned and emerging, can share their stories, reflections, and perspectives with the world. We aspire to be a haven for those who seek solace, inspiration, and a shared understanding through the beauty of language.</p>
        <a href="#"
           class="btn btn-outline-primary">Learn more!</a>
    </div>
</div>

<div class="card m-3 border-warning">
    <h5 class="card-header">Trending Posts</h5>
    {% for post in latest_post %}
    <div class="card-body">
        <a class="card-text fw-light text-decoration-none" href="{% url 'post_detail' post.id %}">{{post.title}}</a>
        <p class="card-text fw-light">By {{post.author}}</p>
    </div>
    {% endfor %}
</div>

<div class="card m-3 border-warning">
    <h5 class="card-header">Recent Posts</h5>
    {% for post in trending_post %}
    <div class="card-body">
        <a class="card-text fw-light text-decoration-none" href="{% url 'post_detail' post.id %}">{{post.title}}</a>
        <p class="card-text fw-light">By {{post.author}}</p>
    </div>
    {% endfor %}
</div>
</div>
</div>

{% endblock sidebar %}