* {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('../images/lexica7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: top;
}

#messages {
    width: max-content !important;
}

ul {
    list-style: none !important;
}

.note-editor {
    width: 100%;
}

/* .header .header-col-1>h2 {
    padding: 10% 0 0 10%;
    color: goldenrod;
    text-transform: capitalize;
    font-size: 40px;
  }

.header .header-col-1>h5 {
    padding-left: 10%;
    color: white;
} */