{% load static %}
{% load crispy_forms_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>100 Pages</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'css/index.css'%}">
</head>

<body>
  <nav class="navbar navbar-expand-lg p-sm-3 fixed-top bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home'%}">100Pages</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home'%}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'posts'%}">Updates</a>
          </li>
          </li>
          <li class="nav-item dropdown">
            {% if user.is_authenticated %}
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'view_profile' user.id%}">View Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'logout'%}">Logout</a></li>
              <!-- <li><a class="dropdown-item" href="#">Subscribe</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Donate</a></li> -->
            </ul>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_post'%}">Write Poem</a>
          </li>
          {% else %}
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Join Us
            <i class="bi bi-person-fill-add"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'login'%}">Sigin</a></li>
            <li><a class="dropdown-item" href="{% url 'register'%}">Signup</a></li>
            <li><a class="dropdown-item" href="#">Subscribe</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Donate</a></li>
          </ul>
          {% endif %}
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-primary text-center mx-auto my-2" id="messages" role="alert">
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  {% block content %}
  <div class="header d-flex align-items-center p-3">
    <div class="p-2 border border-2 border-white border-left-0 border-top-0 border-bottom-0 border-end-0">
      <h2 class="text-white">Poetry</h2>
      <h5 class="fw-light">The greatest tool to freedom lies deep within.</h5>
      <h5 class="small fw-lighter text-white">Art & Heart</h5>
    </div>
  </div>

  <!-- about section  -->
  <div class="about container p-5">
    <div class="row p-md-5">
      <div class="col col-12 col-md-6">
        <img src="{% static 'images/lexica5.jpg'%}" alt="image" style="width: 100%; height: 100%;">
      </div>
      <div class="col">
        <h2 class="py-2">About</h2>
        <hr>
        <p class="fw-light">
          First, we appreciate your decision to be part of us.
          <strong>100 Pages</strong> is an all-poetry platform that seeks to get the most out of not just creative but
          unique artistic mind.
          We're looking to build a platform where every poet can call it a home.
          Note that this new home is currently under active construction, and we let you in so you can provide with
          valuable feedback that can help us make it better.
          We believe in you. That's why down the line we'll be introducing poetry competitions where you can pair with
          friends to write for real money.
          It all starts today, and it starts with you!
        </p>

        <p class="fw-light">
          At 100Pages, we believe in the power of poetry to transcend boundaries, to evoke empathy, and to connect
          souls.
          Our vision is to create a space where poets, both seasoned and emerging, can share their stories, reflections,
          and perspectives with the world.
          We aspire to be a haven for those who seek solace, inspiration, and a shared understanding through the beauty
          of language.
          You can get started by signing up <a href="">here.</a>
          If you're already signed up and has some valuable feedback for us, head over to the <a href="">feedback
            section.</a>
          For being part of this great journey, <strong> asante</strong>.
        </p>
      </div>
    </div>

  </div>
  <!-- hero section  -->
  <div class="p-5 bg-dark">
    <div class="container p-md-5 text-white text-center">
      <h3>
        " Go out there and make the world your playground "
      </h3><br>
      <button class="btn btn-lg btn-primary">Get Started 🚀</button>
    </div>
  </div>

  <!-- writing guidlines  -->
  <div class="container p-5">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="col col-12 col-md-6 pt-5">
        <h2>Start Writing. Share Your Voice, Unleash Your Creativity.</h2>
        <h5 class="fw-light">
          At 100 Pages, we believe in the power of words and beauty of poetic expressions.
          We invite you to become part of our vibrant community by contributing your unique writing to our platform.
          Whether you're an established poet or a budding wordsmith, we welcome your creative and diverse perspectives.
        </h5><br>

        <h2>Why Contribute ?</h2>
        <h5 class="fw-light">
          <strong>🔥 Amplify your voice:</strong><br>
          1. Showcase your talent to a global audience passionate about creativity.<br>
          2. Build your personal brand and connect with fellow poets and enthusiasts.<br><br>

          <strong>🚀 Inspire Others:</strong><br>
          1. Your words have the potential to inspire, provoke thought, and evoke emotions.<br>
          2. Contribute to a space where creativity knows no bounds and imagination is celebrated.<br><br>

          <strong>📚 Community Engagement:</strong><br>
          1. Join a community of like-minded individuals who appreciate the power of language.<br>
          2. Receive constructive feedback and encouragement to enhance your craft.<br><br>
        </h5>
      </div>
      <div class="col text-center p-2">
        <img src="{% static 'images/lexica1.jpg'%}" alt="image" style="width: 100%;">
      </div>
    </div>
  </div>

  <!-- Feedback  -->
  <div class="row p-5">
    <div class="col col-12 col-md-6">
      <img src="{% static 'images/lg.jpg'%}" alt="" style="width: 100%; height: 100%;">
    </div>
    <div class="col col-md-6">
      <form action="" method="post">
        {% csrf_token%}
        <p class="small fw-lighter"># We value your feedback!</p>
        <h2>Feedback Form</h2>
        <div class="form-group mb-3">
          {{form.name}}
        </div>
        <div class="form-group mb-3">
          {{form.email}}
        </div>
        <div class="form-group mb-3">
          {{form.subject}}
        </div>
        <div class="form-group mb-3">
          {{form.message}}
        </div>
        <button type="submit" class="btn btn-primary" onclick="feedbackForm()">Submit Feedback</button>
      </form>
    </div>
  </div>
  <!-- Footer  -->
  <footer>
    <div class="bg-dark text-white">
      <div class="container p-5">
        <div class="row">
          <div class="col col-12 col-md-8">
            <h3 class="text-primary">100Pages</h3>
            <p>
              Start sharing your poetry today and be a part of something truly extraordinary.
              Together, let's make 100Pages a vibrant tapestry of poetic expression!
            </p>
          </div>
          <div class="col py-md-3">
            <ul class="lh-sm-lg">
              <li><a class="text-decoration-none text-white" href="">Home</a></li>
              <li><a href="" class="text-decoration-none text-white">Updates</a></li>
              <li><a href="" class="text-decoration-none text-white">Feedback</a></li>
              <li><a href="" class="text-decoration-none text-white">Get Started</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="row bg-dark text-center p-md-3 text-white">
    <h3 class="fw-lighter small">With 💙 from <a href="#" class="text-decoration-none">100Pages</a></h3>
  </div>
  {% endblock %}
  <!--  Script tags -->
  <script src="{% static 'js/view_profile.js'%}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>